@font-face {
	font-family: "PlayfairDisplay";  
	src: url("./PlayfairDisplay/PlayfairDisplay-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 700;
}

@font-face {
	font-family: "PlayfairDisplay";  
	src: url("./PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf") format("truetype"); 
	font-style: italic; 
	font-weight: 700;
}

@font-face {
	font-family: "PlayfairDisplay";  
	src: url("./PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 400;
}

@font-face {
	font-family: "Playfair Display";  
	src: url("./PlayfairDisplay/PlayfairDisplay-Italic.ttf") format("truetype"); 
	font-style: italic; 
	font-weight: 400;
}