.dialog-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}


.dialog {
	background-color: #94f38f;
	padding: 2rem 3rem;
	border-radius: 0.3rem;
	max-width: 80%;
}

@media (max-width: 575px) {
	.dialog {
		padding: 2rem 1rem;
	}
}


.dialog__title {
	margin: 0;
	padding: 1rem 0.5rem;
	text-align: center;
	font-size: 1.5rem;
	font-style: italic;
	color: #101010;
}


.dialog__buttons-wrapper {
	display: flex;
	justify-content: space-between;
}


.dialog__button {
	margin: .5rem;
	cursor: pointer;
	font-family: inherit;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 1rem;
	flex: 0 0 40%;
	background-color: #43e73a;
	color: #101010;
	border: 1px solid transparent;
	border-radius: 0.3rem;
	transition: 0.3s ease-in;
}

.dialog__button:hover {
	background-color: #199613;
}