.note-wrapper {
	-ms-flex: 0 1 50%;
	-moz-flex: 0 1 50%;
	-o-flex: 0 1 50%;
	-webkit-flex: 0 1 50%;
	flex: 0 1 50%;
	max-width: 50%;
	padding: 2rem;
}

@media (max-width: 991px) {
	.note-wrapper {
		-ms-flex: 0 1 70%;
		-moz-flex: 0 1 70%;
		-o-flex: 0 1 70%;
		-webkit-flex: 0 1 70%;
		flex: 0 1 70%;
		max-width: 70%;
	}
}

@media (max-width: 767px) {
	.note-wrapper {
		-ms-flex: 0 1 80%;
		-moz-flex: 0 1 80%;
		-o-flex: 0 1 80%;
		-webkit-flex: 0 1 80%;
		flex: 0 1 80%;
		max-width: 80%;
	}
}

@media (max-width: 575px) {
	.note-wrapper {
		-ms-flex: 0 1 100%;
		-moz-flex: 0 1 100%;
		-o-flex: 0 1 100%;
		-webkit-flex: 0 1 100%;
		flex: 0 1 100%;
		max-width: 100%;
	}
}


.note-card {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #94f38f;
}


.note-card__header {
	padding: 1rem 0 2rem;
	background-color: #71f36b;
}

.note-card__header:hover .note-card__title-button_edit {
	opacity: 1;
}


.note-card__sidebar {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 0 0.5rem;
}


.note-card__sidebar-button {
	-ms-flex: 0 1 10%;
	-moz-flex: 0 1 10%;
	-o-flex: 0 1 10%;
	-webkit-flex: 0 1 10%;
	flex: 0 1 10%;
	max-width: 10%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
  -ms-flex-align: center;
	align-items: center;
	padding: 0 0.5rem;
}


.note-card__sidebar-button-icon {
	font-size: 1.5rem;
	height: 1.5rem;
	color: #101010;
	cursor: pointer;
}

.note-card__sidebar-button-icon_disabled {
	color: #707070;
	cursor: default;
}


.note-card__title-wrapper {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
  -ms-flex-align: center;
	align-items: center;
	padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}


.note-card__title {
	margin: 0;
	-ms-flex: 0 1 80%;
	-moz-flex: 0 1 80%;
	-o-flex: 0 1 80%;
	-webkit-flex: 0 1 80%;
	flex: 0 1 80%;
	max-width: 80%;
	font-style: italic;
	word-wrap: break-word;
  word-break: break-word;
}


.note-card__title-input {
	font-family: 'PlayfairDisplay';
	font-size: 24px;
	font-style: italic;
	-ms-flex: 0 1 80%;
	-moz-flex: 0 1 80%;
	-o-flex: 0 1 80%;
	-webkit-flex: 0 1 80%;
	flex: 0 1 80%;
	max-width: 80%;
}


.note-card__title-button-wrapper {
	-ms-flex: 0 1 20%;
	-moz-flex: 0 1 20%;
	-o-flex: 0 1 20%;
	-webkit-flex: 0 1 20%;
	flex: 0 1 20%;
	max-width: 20%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-align-items: center;
  -ms-flex-align: center;
	align-items: center;
}


.note-card__title-button {
	-ms-flex: 0 1 50%;
	-moz-flex: 0 1 50%;
	-o-flex: 0 1 50%;
	-webkit-flex: 0 1 50%;
	flex: 0 1 50%;
	max-width: 50%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
  -ms-flex-align: center;
	align-items: center;
}


.note-card__title-button-icon {
	font-size: 1.5rem;
	height: 1.5rem;
	color: #707070;
	cursor: pointer;
}

.note-card__title-button-icon:hover {
	color: #101010;
}


.note-card__title-button_edit {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	-o-transition: opacity 0.3s ease-in;
	-ms-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
}

@media (max-width: 991px) {
	.note-card__title-button_edit {
		opacity: 1;
	}
}

.note-card__body {
	padding: 2rem 0;
}


.note-card__todo-list {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
}

@media (max-width: 575px) {
	.note-card__todo-list {
		padding: 0 0.5rem;
	}
}


.note-card__todo-add-item-button {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0.5rem 1.5rem;
}


.note-card__todo-add-item-button-icon {
	font-size: 2.3rem;
	height: 2.3rem;
	color: #707070;
	cursor: pointer;
}

.note-card__todo-add-item-button-icon:hover {
	color: #101010;
}


.note-card__footer {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 1.5rem 1.5rem;
}

@media (max-width: 575px) {
	.note-card__footer {
		-webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}


.note-card__footer-button {
	cursor: pointer;
	font-family: inherit;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 1rem;
	margin: 0.5rem;
	-ms-flex: 0 1 40%;
	-moz-flex: 0 1 40%;
	-o-flex: 0 1 40%;
	-webkit-flex: 0 1 40%;
	flex: 0 1 40%;
	background-color: #43e73a;
	color: #101010;
	border: 1px solid transparent;
	border-radius: 0.3rem;
	-webkit-transition: 0.3s ease-in;
	-moz-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
	-ms-transition: 0.3s ease-in;
	transition: 0.3s ease-in;
}

.note-card__footer-button:hover {
	background-color: #199613;
}