.note-list {
	display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-grow: 1;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}

@media (max-width: 991px) {
  .note-list {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}


.note-list__card {
  -ms-flex: 0 1 33.333333%;
  -moz-flex: 0 1 33.333333%;
  -o-flex: 0 1 33.333333%;
  -webkit-flex: 0 1 33.333333%;
  flex: 0 1 33.333333%;
  max-width: 33.333333%;
  padding: 15px;
}

@media (max-width: 991px) {
  .note-list__card {
    -ms-flex: 0 1 50%;
    -moz-flex: 0 1 50%;
    -o-flex: 0 1 50%;
    -webkit-flex: 0 1 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .note-list__card {
    -ms-flex: 0 1 70%;
    -moz-flex: 0 1 70%;
    -o-flex: 0 1 70%;
    -webkit-flex: 0 1 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
}

@media (max-width: 575px) {
  .note-list__card {
    -ms-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -o-flex: 0 1 100%;
    -webkit-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
}

.note-list__card-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #94f38f;
  -webkit-transition: box-shadow 0.3s ease-in;
  -moz-transition: box-shadow 0.3s ease-in;
  -o-transition: box-shadow 0.3s ease-in;
  -ms-transition: box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in;
}

.note-list__card-wrapper:hover {
  box-shadow: 0 0 10px #94f38f;
}

.note-list__card-wrapper:hover .note-list__card-buttons-wrapper {
  opacity: 1;
}


.note-list__card-header {
  padding: 1rem 0 2.5rem;
  background-color: #71f36b;
}


.note-list__card-buttons-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 0.5rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

@media (max-width: 991px) {
  .note-list__card-buttons-wrapper {
    opacity: 1;
  }
}


.note-list__note-button {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 0.5rem;
  -ms-flex: 0 1 12%;
  -moz-flex: 0 1 12%;
  -o-flex: 0 1 12%;
  -webkit-flex: 0 1 12%;
  flex: 0 1 12%;
  max-width: 12%;
}


.note-list__note-button-icon {
  font-size: 1.5rem;
  height: 1.5rem;
  color: #707070;
  cursor: pointer;
}

.note-list__note-button-icon:hover {
  color: #101010;
}


.note-list__card-title {
  margin: 0;
  color: #101010;
  padding: 0 2rem;
  font-style: italic;
  word-wrap: break-word;
  word-break: break-word;
}


.note-list__card-body {
  padding: 2rem 0;
}


.note-list__todo-list {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
}


.note-list__todo-item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0.5rem;
}

.note-list__todo-item:not(:last-child) {
  border-bottom: 1px solid #707070;
}


.note-list__todo-item-checkbox {
  -ms-flex: 0 1 10%;
  -moz-flex: 0 1 10%;
  -o-flex: 0 1 10%;
  -webkit-flex: 0 1 10%;
  flex: 0 1 10%;
  max-width: 10%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


.note-list__todo-item-checkbox-icon {
  font-size: 1.2rem;
  height: 1.2rem;
  color: #101010;
}


.note-list__todo-item-text {
  margin: 0;
  -ms-flex: 0 1 90%;
  -moz-flex: 0 1 90%;
  -o-flex: 0 1 90%;
  -webkit-flex: 0 1 90%;
  flex: 0 1 90%;
  max-width: 90%;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  color: #101010;
  word-wrap: break-word;
  word-break: break-word;
}


.note-list__add-button {
  font-size: 7rem;
  height: 7rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
  color: #707070;
}

.note-list__add-button:hover {
  color: #101010;
}

@media (max-width: 767px) {
  .note-list__add-button {
    font-size: 5rem;
    height: 5rem;
    bottom: 2rem;
    right: 2rem;
  }
}

@media (max-width: 575px) {
  .note-list__add-button {
    font-size: 4rem;
    height: 4rem;
    bottom: 1rem;
    right: 1rem;
  }
}