.note-wrapper {
	flex: 0 0 50%;
	max-width: 50%;
	padding: 2rem;
}

@media (max-width: 991px) {
	.note-wrapper {
		flex: 0 0 70%;
		max-width: 70%;
	}
}

@media (max-width: 767px) {
	.note-wrapper {
		flex: 0 0 80%;
		max-width: 80%;
	}
}

@media (max-width: 575px) {
	.note-wrapper {
		flex: 0 0 100%;
		max-width: 100%;
	}
}


.note-card {
	display: flex;
	flex-direction: column;
	background-color: #94f38f;
}


.note-card__header {
	padding: 1rem 0 2rem;
	background-color: #71f36b;
}

.note-card__header:hover .note-card__title-button_edit {
	opacity: 1;
}


.note-card__sidebar {
	display: flex;
	justify-content: flex-end;
	padding: 0 0.5rem;
}


.note-card__sidebar-button {
	flex: 0 0 10%;
	max-width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0.5rem;
}


.note-card__sidebar-button-icon {
	font-size: 1.5rem;
	height: 1.5rem;
	color: #101010;
	cursor: pointer;
}

.note-card__sidebar-button-icon_disabled {
	color: #707070;
	cursor: default;
}


.note-card__title-wrapper {
	display: flex;
	align-items: center;
	padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}


.note-card__title {
	margin: 0;
	flex: 0 0 80%;
	max-width: 80%;
	font-style: italic;
	word-wrap: break-word;
  word-break: break-all;
}


.note-card__title-input {
	font-family: 'PlayfairDisplay';
	font-size: 24px;
	font-style: italic;
	flex: 0 0 80%;
	max-width: 80%;
}


.note-card__title-button-wrapper {
	flex: 0 0 20%;
	max-width: 20%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


.note-card__title-button {
	flex: 0 0 50%;
	max-width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.note-card__title-button-icon {
	font-size: 1.5rem;
	height: 1.5rem;
	color: #707070;
	cursor: pointer;
}

.note-card__title-button-icon:hover {
	color: #101010;
}


.note-card__title-button_edit {
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

@media (max-width: 991px) {
	.note-card__title-button_edit {
		opacity: 1;
	}
}

.note-card__body {
	padding: 2rem 0;
}


.note-card__todo-list {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
}

@media (max-width: 575px) {
	.note-card__todo-list {
		padding: 0 0.5rem;
	}
}


.note-card__todo-add-item-button {
	display: flex;
	justify-content: center;
	padding: 0.5rem 1.5rem;
}


.note-card__todo-add-item-button-icon {
	font-size: 2.3rem;
	height: 2.3rem;
	color: #707070;
	cursor: pointer;
}

.note-card__todo-add-item-button-icon:hover {
	color: #101010;
}


.note-card__footer {
	display: flex;
	justify-content: space-between;
	padding: 0 1.5rem 1.5rem;
}

@media (max-width: 575px) {
	.note-card__footer {
		justify-content: center;
	}
}


.note-card__footer-button {
	cursor: pointer;
	font-family: inherit;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 1rem;
	margin: 0.5rem;
	flex: 0 0 40%;
	background-color: #43e73a;
	color: #101010;
	border: 1px solid transparent;
	border-radius: 0.3rem;
	transition: 0.3s ease-in;
}

.note-card__footer-button:hover {
	background-color: #199613;
}