.note-card__todo-item {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 0.5rem;
	border-bottom: 1px solid #707070;
}

@media (max-width: 575px) {
	.note-card__todo-item {
		padding: 0.5rem 0;
	}
}


.note-card__todo-item-checkbox {
	-ms-flex: 0 0 10%;
	-moz-flex: 0 0 10%;
	-o-flex: 0 0 10%;
	-webkit-flex: 0 0 10%;
	flex: 0 0 10%;
	max-width: 10%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
  -ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}


.note-card__todo-item-checkbox-icon {
	font-size: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
}

.note-card__todo-item-checkbox-icon_disabled {
	color: #707070;
}

.note-card__todo-item-checkbox-icon_enabled {
	color: #101010;
}


.note-card__text-wrapper {
	-ms-flex: 0 0 90%;
	-moz-flex: 0 0 90%;
	-o-flex: 0 0 90%;
	-webkit-flex: 0 0 90%;
	flex: 0 0 90%;
	max-width: 90%;
	padding: 0 0.5rem;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
  -ms-flex-align: center;
	align-items: center;
}

@media (max-width: 575px) {
	.note-card__text-wrapper {
		padding: 0 0 0 0.5rem;
	}
}


.note-card__todo-text {
	-ms-flex: 0 0 80%;
	-moz-flex: 0 0 80%;
	-o-flex: 0 0 80%;
	-webkit-flex: 0 0 80%;
	flex: 0 0 80%;
	max-width: 80%;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	font-size: 1.2rem;
	word-wrap: break-word;
  word-break: break-all;
}


.note-card__todo-text-input {
	font: inherit;
	font-size: 1.2rem;
	-ms-flex: 0 0 80%;
	-moz-flex: 0 0 80%;
	-o-flex: 0 0 80%;
	-webkit-flex: 0 0 80%;
	flex: 0 0 80%;
	max-width: 80%;
}


.note-card__todo-item-button-wrapper {
	-ms-flex: 0 0 20%;
	-moz-flex: 0 0 20%;
	-o-flex: 0 0 20%;
	-webkit-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}


.note-card__todo-item-button {
	-ms-flex: 0 0 50%;
	-moz-flex: 0 0 50%;
	-o-flex: 0 0 50%;
	-webkit-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


.note-card__todo-item-button-icon {
	font-size: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	color: #707070;
}

.note-card__todo-item-button-icon:hover {
	color: #101010;
}