.note-card__todo-item {
	display: flex;
	padding: 0.5rem;
	border-bottom: 1px solid #505050;
}

@media (max-width: 575px) {
	.note-card__todo-item {
		padding: 0.5rem 0;
	}
}


.note-card__todo-item-checkbox {
	flex: 0 0 10%;
	max-width: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.note-card__todo-item-checkbox-icon {
	font-size: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
}

.note-card__todo-item-checkbox-icon_disabled {
	color: #505050;
}

.note-card__todo-item-checkbox-icon_enabled {
	color: #101010;
}


.note-card__text-wrapper {
	flex: 0 0 90%;
	max-width: 90%;
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
}

@media (max-width: 575px) {
	.note-card__text-wrapper {
		padding: 0 0 0 0.5rem;
	}
}


.note-card__todo-text {
	flex: 0 0 80%;
	max-width: 80%;
	align-self: center;
	font-size: 1.2rem;
}


.note-card__todo-text-input {
	font: inherit;
	font-size: 1.2rem;
	flex: 0 0 80%;
	max-width: 80%;
}


.note-card__todo-item-button-wrapper {
	flex: 0 0 20%;
	max-width: 20%;
	display: flex;
}


.note-card__todo-item-button {
	flex: 0 0 50%;
	max-width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.note-card__todo-item-button-icon {
	font-size: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	color: #505050;
}

.note-card__todo-item-button-icon:hover {
	color: #101010;
}